<h2 class="encabezado">Vive la  <span> experiencia </span></h2>
        <div class="galeria-superior">
                <div class="izquierda">
                    <div class="imagen">
                        <img src="assets/img/galeria/galeria_01_thumb.jpg" alt="Imagen principal del contenedor" srcset="">
                    </div>
                </div>
                <div class="derecha">
                    <div class="contenido-derecha">
                        <div class="imagenes">
                                <div class="imagen span">
                                    <img src="assets/img/galeria/galeria_02_thumb.jpg" alt="Imagen2" srcset="">
                                </div>
                                <div class="imagen">
                                    <img src="assets/img/galeria/galeria_03_thumb.jpg" alt="Imagen3" srcset="">
                                </div>
                                <div class="imagen">
                                    <img src="assets/img/galeria/galeria_04_thumb.jpg" alt="Imagen4" srcset="">
                                </div>
                                <div class="imagen span">
                                    <img src="assets/img/galeria/galeria_05_thumb.jpg" alt="Imagen5" srcset="">
                                </div>
                        </div>
                    </div>
                </div>
        </div><!-- FIn de toda la primer parte de Grid -->
        <div class="galeria-inferior">
            <div class="imagen span">
                <img src="assets/img/galeria/galeria_06_thumb.jpg" alt="Imagen6" srcset="">
            </div>
            <div class="imagen ">
                <img src="assets/img/galeria/galeria_07_thumb.jpg" alt="Imagen7" srcset="">
            </div>
            <div class="derecha">
                <div class="contenido-derecha">
                    <div class="imagenes">
                        <div class="imagen ">
                            <img src="assets/img/galeria/galeria_08_thumb.jpg" alt="Imagen8" srcset="">
                        </div>
                        <div class="imagen ">
                            <img src="assets/img/galeria/galeria_09_thumb.jpg" alt="Imagen9" srcset="">
                        </div>
                    </div>

                </div>
            </div>
        </div>